.content-my{
    align-items: center;
    background-color: #ffe;
    padding: 5% 10%;
}
.city-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kartica{
    border-radius: 20px;
    margin-bottom: 10%;
    background-color: transparent;
    width: 35%;
}

.kartica-head{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: #3a0ca3;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 5px #222;


}

.kartica-body{
    background-color: #ced4da;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 5px #222;
}
.kartica-temp-holder{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kartica-temp-holder img{
    position: relative;
    right: 20px;
}
.kartica-temp-holder h3{
    position: relative;
    right: 20px;
}

.kartica-temp-holder p, .kartica-temp-holder h3{
    margin: 0;
    white-space: nowrap;
}
.kartica-left-holder p, .kartica-right-holder p {
    margin: 0;
}
.holder-parent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px
}
.weather-holder-desc{
    text-transform: capitalize;
}
.hourly-table-wrapper{
    width: 60%;
    margin-bottom: 10%;
}
.hourly-table{
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ced4da;
    box-shadow: 0 0 5px #222;
    border-radius: 15px;
}
.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.time p{
    margin: 0;
    padding: 0;
    
}
.dropdown-my-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}
.dropdown-my{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ced4da;
    border-radius: 10px;
    width: 100%;
    padding: 5px 50px;
    box-shadow: 0 0 5px #222;
    gap: 15px;
}

.dropdown-my p{
    margin-bottom: 0;
}
.dropdown-icon-holder{
    cursor: pointer;
}
    @keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.dropdown-my-info{
    padding: 20px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    flex-direction: column;
    border-right: #222 1px solid;
    border-left: #222 1px solid;
    border-bottom: #222 1px solid;
}


.hide{
    display: none;
}
.show{
    display: flex;
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
}
.main-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
}
.temp-info table{
    width: 100%;
}

tr{
    max-width: 650px;
}
tbody{
    max-width: 500px;
}


@media(max-width: 1200px){
    .city-info{
        flex-direction: column;
        align-items: center;
    }
    .kartica{
        margin-bottom: 8%;
        width: 50%;
        max-width: 430px;
        min-width: 430px;
    }
    .hourly-table-wrapper{
        width: 100%;
    }

}

@media(max-width: 570px){
.dropdown-my{
    padding: 5px 15px;
    font-size: 3vw;
}
.hourly-table{
    font-size: 3vw;
    padding: 10px 15px;
}
.kartica{
    min-width: unset;
    font-size: 3vw;
    width: 100%;
}
  .kartica-temp-holder h3{
    font-size: 4vw;
}
.dropdown-my-info{
    font-size: 3vw;
}
.time{
    padding: 0 5px;
}
}