


.kartica{
    border-radius: 20px;
    margin-bottom: 10%;
    background-color: transparent;
    width: 40%;
}

.kartica-head{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: #222;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 5px #222;

}

.kartica-body{
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 5px #222;
}
.kartica-temp-holder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kartica-temp-holder p, .kartica-temp-holder h3{
    margin: 0;
}
.kartica-left-holder p, .kartica-right-holder p {
    margin: 0;
}
.holder-parent{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.weather-holder-desc{
    text-transform: capitalize;
}