*{
    font-family: 'Roboto Mono', monospace;
}

header{
    padding: 20px 8%;
    background-color: #222;
}
body{
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none !important;
}
.logo{

    color: #FFD300;
}
.search-input{
    width: 45%;
    display: flex;
    justify-content: center;
    margin-right: 10%;
    position: relative;
}
.search-input input{
    width: 100%;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #FFD300;
    color: #222;
}
.search-icon-my{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    color: #222;
    width: 18px;
    height: 25px;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    align-self: flex-end;
}

.nav-branding{
    font-size: 2rem;

}
 .nav-item-my{
    border-radius: 30px;
    background-color: #222;
    padding: 5px 30px;

}
.nav-link-my{
    transition: 0.7s ease;
    color: white;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFD300;
}
.card{
   /*background-image: url("../img/rain.jpg") !important;*/
    color: white;
    text-shadow: 0 0 0 #222 5px;
    margin-bottom: 5%;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 5px #222;
    transition: 0.2s ease;
    border-radius: 40px !important;
    padding: 10px;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.list-group-item{
    background: transparent !important;
    color: white !important;
    text-shadow: 0 0 10px #222;
    font-weight: bolder;
}
.content-my{
    background-color: #FFD300;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5%;
    padding: 8%;
}
footer{
    background-color: #222;
    color: #FFD300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
footer p{
    font-size: 16px;
    margin: 0;
}


@media(max-width: 1920px){
    .hamburger{
        display: block;
        justify-self: flex-end;

    }
    .hamburger.active{
        position: fixed;
        right: 5%;
        z-index: 99;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8px); 
        height: 100vh;
        z-index: 9;
        padding: 10% 0;
    }

    .nav-menu.active{
        left: 0;
        top: 0;

    }

}